/* opening screen */
body {background-color: rgb(34, 34, 34); padding: 0 !important; margin: 0 !important; overflow-x: none !important; overflow-y: none !important; white-space: nowrap; max-width: 100%;} #opening-screen {color: white; font-family: "Roboto", sans-serif; padding: 20px;} .opening-screen-button {padding: 8px; padding-left: 35px; padding-right: 35px; cursor: pointer; color: white; border: 1px solid rgb(223,27,27); background-color: rgb(223, 27, 27); border: none; border-radius: 14px; font-size: 1.2rem;}
.opening-screen-button:hover {background-color: rgba(223, 27, 27, 0.728); box-shadow: 0px 4px 8px rgba(0,0,0,0.1)} #welcome {font-size: 2.5rem;} #welcome-contain {max-width: 100%; width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 30px;}
#getstarted-contain {max-width: 100%; width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 0px;} #getstarted {font-size: 1.4rem;}
/* logo */
#logo {max-height: 100px; width:100%; align-items: center; display: flex; justify-content: center; margin-top: 15vh;} .pml-logo {height: 100px; max-width: 100%; }
#options {display: flex; align-items: center; justify-content: center;} #options ul { list-style-type: none; } #options li {display: inline-block;} .description {text-align: center;}
/* option 1 */
.option1-text {font-size: 1.3rem; white-space: nowrap;} #option1-container {max-width: 100%; margin-right: 46px; width: fit-content; margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;} #bttn1contain {max-width: 100%;  margin-top: 12px;} 
/* bottom bar */
.bottom-bar {height: 38px; min-height: 38px; width: 100%; z-index: 9999; max-width: 100%; border-top: 1px solid rgba(128, 128, 128, 0.486); left: 0; position: fixed; display: flex; align-items: center; bottom: 0; background-color: rgb(48, 48, 48);} .icon-1 {display: flex; align-items: center; margin-left: 2vw;} .material-symbols-outlined {color: white; margin-right: 3px; cursor: default;}
.icon-1 a {color: white; text-decoration: none;} .developer-text {font-family: 'Roboto', sans-serif; font-size:small} .bottom-logo {max-height: 38px; height: 38px; margin-left: 2vw} .pipe { color: white; font-size: 1.5rem; margin-left: 1.5vw; font-weight:100;}
.icon-2 {display: flex; align-items: center; margin-left: 2vw;} #app-version-text {font-family: 'Roboto', sans-serif; font-size:small; color: white; cursor: pointer;}
.home-icon {display: flex; align-items: center; margin-left: 2vw;} .home-text {font-family: 'Roboto', sans-serif; font-size:small; color: white; cursor: pointer;} .home-text:hover { cursor: pointer;} .homelink {text-decoration: none;}
.icon-3 {display: flex; align-items: center; margin-left: 2vw;} #settings-text {font-family: 'Roboto', sans-serif; font-size:small; color: white; cursor: pointer; /* cursor: pointer; */}
.icon-4 {display: flex; align-items: center; margin-left: 2vw;} #contact-text {font-family: 'Roboto', sans-serif; font-size:small; color: white; cursor: not-allowed; /* cursor: pointer; */}
.iframe-icon {right: 100px; position: fixed;}
/* app version info */
#appversion-information {display:block; height: 250px; width: 200px; word-wrap: break-word; background-color:rgb(48, 48, 48); z-index: 9999; padding-left: 8px; box-shadow: 4px 4px 2px 2px  rgba(22, 22, 22, 0.239); padding-right: 8px; padding-bottom: 0; position: fixed; bottom: 60px; margin-left: 390px; box-shadow: 0px 10px, 20px rgba(0,0,0,20)} .av-itext {color: white; font-family: "Roboto", sans-serif; margin-left: 8px;}
#appversion-information .material-symbols-outlined {margin-left: 30px; cursor: pointer; margin-top: 5px; } .explanationtext {width: 180px; word-wrap: break-word !important; display: inline-block; margin-left: 8px; color: white; font-family: 'Roboto', sans-serif; margin-top: 30px; font-size:small} #close-btn:hover {color: rgb(226, 226, 226)} #close:hover {color: rgb(226, 226, 226); cursor: pointer;}




/* text editor */
.editing-area {width: fit-content; max-width: fit-content; resize: none; height: 95vh; margin-top: 0; margin: 0;} #main-page {overflow-y: none; max-width: 100%; min-height: calc(100vh - bottom-bar); overflow-x: none; width: 100vw; min-height: 100vh;} #main-page-content {flex: 1;}
.keyword {color:rgb(223, 27, 27); font-weight: bold;} .content {padding: 10px;}/* .line-number {counter-increment: line-number; width: 30px; display: inline-block; text-align: right; user-select: none;}*/ .iframe-contain {margin-left: 0; padding-left: 2px;  margin-right: 0px; height: fit-content; max-height: fit-content; margin-top: 0; position:relative;} /* #display-pdf {display: none; visibility: hidden;}*/
/* .line-numbers-container {display: flex; flex-direction: column; align-items: flex-end; padding-right: 10px; margin-top: 10px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #FFF;}*/ #display-pdf {width: 600px; border: none; position:relative; margin: 0; padding: 0; min-height: 600px; height: 84vh; } 
.runbutton {padding-top: 8px; padding-bottom: 8px; padding-left: 24px; padding-right: 24px; margin-left:0; margin-top: 0px; border: none; background-color: rgb(0, 110, 255); border-radius: 4px; color: white; height: 50px; width: 900px; } .runbutton:hover {cursor: pointer; background-color: rgb(38, 131, 252);}
.textovereditor {color: white; font-family: 'Roboto', sans-serif; width: 900px; border-right: 3px solid grey; margin-top: 0; background-color: rgb(23, 23, 23); z-index: 9999; padding-top: 8px; padding-left: 5px; padding-bottom: 8px; font-size: 1.1rem;}  #content {position: fixed; top: 0; left: 907px; right: 0;}
.runbutton-contain {position: fixed; bottom: 50px; left: 0;}
/* page orginization */
#main-page ul {list-style-type: none; margin: 0; padding: 0; display: flex; justify-content: space-between; position: relative;} #main-page ul li {display: inline-block; margin: 0; padding: 0;} #li1 {margin: 0 !important;}
#editor {
    min-height: 600px; /* Adjust height as needed */ 
    height: 83vh;
    width: 897px;
    max-width: 997px;;
    outline: none;
    overflow-x: auto;
    overflow-y: auto;
    font-family: monospace;
    font-size: inherit;
    line-height: inherit;
    resize: none;
    display: block;
    color: white;
    background-color:rgb(37, 37, 37) ;
    padding-left: 8px;
    padding-top: 10px;
    z-index: -1;
    margin-right: 0 !important;
  }
.editor-container {padding: 0px; margin-left: 2px; max-width: fit-content; max-height: fit-content; width: fit-content; margin-bottom: 0; margin-right: 0; resize: horizontal;}
#textoveriframe{color: white; font-family: 'Roboto', sans-serif; width: 600px; margin-top: 0; background-color: rgb(23, 23, 23); border: none;  z-index: 9999; padding-top: 8px; padding-left: 5px; padding-bottom: 8px; font-size: 1.1rem;  }

#previewbutton {padding-top: 8px; padding-bottom: 8px; padding-left: 24px; padding-right: 24px; margin-left:2px; margin-top: 0px; border: none; background-color: rgb(0, 110, 255); border-radius: 4px; color: white; height: 50px; width: 300px; }/* #previewbutton:hover {cursor: pointer; background-color: rgb(38, 131, 252);} #previewbutton:active {background-color: rgb(38, 131, 252);}*/
#errorsbutton {padding-top: 8px; padding-bottom: 8px; padding-left: 24px; padding-right: 24px; margin-left:2px; margin-top: 0px; border: none; background-color: rgb(0, 110, 255); border-radius: 4px; color: white; height: 50px; width: 300px; } /*#errorsbutton:hover {cursor: pointer; background-color: rgb(38, 131, 252);} #errorsbutton:active {background-color: rgb(38, 131, 252);}*/
#textovererrors {color: white; font-family: 'Roboto', sans-serif; width: 600px; margin-top: 0; background-color: rgb(23, 23, 23); border:none; z-index: 9999; padding-top: 8px; padding-left: 5px; padding-bottom: 8px; font-size: 1.1rem;  } #errors {width: 600px; min-height: 600px; height: 84vh; background-color: rgb(41, 41, 41);}
#previewbutton:hover {cursor: pointer;} #errorsbutton:hover {cursor: pointer;}
.hidden {display: none; visibility: hidden;} #button-contain {position: fixed; width: 100%; bottom: 38px; background-color: rgb(48, 48, 48); padding-top: 8px; padding-bottom: 8px; border-top: 1px solid grey;}
#span {color: white; font-family: 'Roboto', sans-serif; font-size: 0.9rem; display: inline-block; margin-top: 60%; margin-left: 40%;}


/* settings */

#settings {width: 840px; height: 700px; background-color: rgb(55, 55, 55); color: white; top: 10vh; display: inline-block; position: fixed; z-index: 9999; box-shadow: 4px 4px 2px 2px  rgba(22, 22, 22, 0.239); border-radius: 8px; max-width: 840px;}
#settings-contain {width: 100%; height: 100%; position: fixed; display: flex; justify-content: center; align-items: center; flex-direction: column;} #settings-topbar {width: 840px; height: 30px; z-index: 9999; background-color: rgb(68, 68, 68); display: flex; align-items: center; justify-content: center; box-shadow: 0px 4px 4px rgba(22, 22, 22, 0.239) ; z-index: 100;}
#settingstext {color: white; font-family: monospace;} #close {position: relative; display: flex; justify-content: center; align-items: center; width: 840px; background-color: rgb(34, 34, 34); height: 30px; border-top-left-radius: 8px; border-top-right-radius: 8px; } 
#close:hover {background-color: rgb(46, 46, 46); transition: 0.2s;} #leftnav {width: 220px; background-color: rgb(46, 46, 46); height: 640px; margin-top: 0; margin-bottom: 30px;} #leftnav ul {margin: 0; padding: 0; list-style-type: none;}
.animate {
  animation: scaleOpen 0.2s ease forwards; 
}

.animate.reverse {
  animation: scaleClose 0.2s ease forwards;
}

@keyframes scaleOpen {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes scaleClose {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

/*
Understanding ID/Class Names:

label + number = labels for settings radio
option = rad andthen a number after it. rad equals a radio select button

Note: all option odd numbers arent there because their positioning is determind by the margin: right; of the option (odd number) before it
*/


.sidebar-buttons {background-color: rgb(46, 46, 46); border: none; border-bottom: 2px solid rgb(42, 42, 42); width: 220px; height: 60px; color: white; font-size: 0.85rem; text-align: left; padding-left: 20px;} .sidebar-buttons:hover {cursor: pointer; background-color: rgb(57, 57, 57); transition: 0.1s;} #mainlayout {list-style-type: none; margin: 0; padding: 0; display: inline-block;} 
.mainlayout-li {display: inline-block; margin:0; padding: 0; left: 220px; position: absolute; height: 600px; width: 616px; max-width: 616px; max-height: 640px; top: 60px;} #settings-links-ul {list-style-type: none; display: inline-block; margin:0; padding: 0; position: absolute; bottom: 2px; right: 30px; margin-bottom: 4px;}
.all-sections {background-color: rgb(55, 55, 55); margin: 0; padding: 10px;} #themes-section select {margin:0; padding: 0;} .active-buttons {background-color: rgb(55, 55, 55);} .l1 {display: inline-block; margin:0; padding: 0;} #undo {display: inline-block; vertical-align: center; position: absolute; bottom: 3px; right: 84px; color: rgb(181, 181, 181); opacity: 0.7;}
/*#restore-link {display: inline-block; vertical-align: center; color: rgb(181, 181, 181); margin-right: 18px; text-decoration: none; opacity: 0.7; font-family: monospace; margin-bottom: 1px;} #restore-link:hover{cursor: pointer; opacity: 1;}*/ #undo:hover {cursor: pointer; opacity: 1;} 
#settings-save {color: white; border: none; background-color: rgb(67, 84, 215); height: 28px; padding-left: 25px; padding-right: 25px; border-radius: 4px; font-family: monospace; font-size: 0.77rem;} #settings-save:hover {background-color: rgb(38, 131, 252); cursor: pointer;}
.settings-labels{font-family: monospace;} .settings-headers {color: white; font-family: 'Roboto', sans-serif; margin-bottom: 40px; margin-top: 40px;} .radio:hover {cursor: pointer;} .radio {margin-left: 20px; margin-right: 150px;} #themes-content {margin-top: 5px; padding-left: 20px; margin-left: 50px;}
#label1 {margin-left: 10px;} #label2 {margin-left: 32px;} #label3 {margin-left: 29px;} #label4 {margin-left: 88px;} #option1 {margin-left: 40px; margin-right: 84px;}  #option3 {margin-left: 40px; margin-right: 84px;} #option5 {margin-left: 40px; margin-right: 84px;} 
#ulradio {display: inline-block; margin: 0; padding: 0;} .ulradioli {display: inline-block; margin: 0; padding: 0; text-align: center;} #container1 {margin-left: 5px;} #container2 {margin-left: 34px;} 
/* tooltip for undo settings */
#restore-text {display: none; position: absolute; bottom: 35px; right: 40px; font-family: monospace; font-size: 0.7rem; opacity: 0; transition: opacity 0.2s ease; background-color: rgb(32, 32, 32); padding: 5px; padding-left: 7px; padding-right: 7px; border-radius: 4px;} #undo:hover + #restore-text {display: block;}
#restore-text::after {content: " "; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 6px; border-style: solid; border-color: rgb(32, 32, 32) transparent transparent transparent}
